<link rel="stylesheet" href="/test?type=css&delay=60">
<script src="/test?type=javascript&delay=2"></script>
<div>
	sub-a1 1111231
	<div class="sub-a-1">
		<div class="ui segment" style="height: 100%;">
			<div class="ui active inverted dimmer">
				<div class="ui text loader">Loading</div>
			</div>
			<p></p>
		</div>
	</div>
	<div class="sub-a-2">
		<div class="ui segment" style="height: 100%;">
			<div class="ui active inverted dimmer">
				<div class="ui text loader">Loading</div>
			</div>
			<p></p>
		</div>
	</div>	
</div>