// reset
html, body {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	font-size: 13px;
	color: #666;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

h2, h2, h4, p, ul, ol, li {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}

a {
	display: block;
	color: #666;
	text-decoration: none;
}

select {
	height: auto;
	background: #ffffff;
	border: 1px solid rgba(39, 41, 43, 0.15);
	border-radius: 0.2857rem;
	box-shadow: 0em 0em 0em 0em transparent inset;
	padding: 0.62em 1em;
	color: rgba(0, 0, 0, 0.8);
}