<style>
	.row {
		padding: 12px;
	}
</style>
<div class="mod-broadcast">
	<div class="row">
		<h2>广播类型</h2>
		<div class="ui buttons">
			<div class="ui button" data-type="reload">刷新客户浏览器</div>
			<div class="or" data-text="or"></div>
			<div class="ui positive button" data-type="message">发送消息提示</div>
		</div>
	</div>
	<div class="row">
		<div class="form ui">
			<div class="field">
				<h2>显示文案提示</h2>
				<textarea></textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="btn-submit red ui button">
			发起广播
			<i class="icon announcement"></i>
		</div>
	</div>
</div>


<script src="/static/js/mod/broadcast/index.js"></script>