.class-page-navi,
.page-nav {
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
  -webkit-box-align: center;
  -o-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: start;
  -o-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  margin: 16px 0;
  height: 32px;
}
.class-page-navi .start,
.page-nav .start,
.class-page-navi .end,
.page-nav .end,
.class-page-navi .prev,
.page-nav .prev,
.class-page-navi .next,
.page-nav .next,
.class-page-navi .bar,
.page-nav .bar {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #3e3e3e;
  text-align: center;
  border: solid 1px #ededed;
  font-weight: 700;
}
.class-page-navi .prev,
.page-nav .prev,
.class-page-navi .bar,
.page-nav .bar {
  border-right: none;
}
.class-page-navi .start,
.page-nav .start,
.class-page-navi .end,
.page-nav .end {
  margin-right: 4px;
  padding: 0 4px;
  width: auto;
}
.class-page-navi .bars,
.page-nav .bars {
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
}
.class-page-navi .pin,
.page-nav .pin {
  background: #ededed;
  color: #999;
}
.class-page-navi .summary,
.page-nav .summary {
  margin-left: 6px;
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
}
.class-page-navi .summary .total,
.page-nav .summary .total {
  margin-right: 2px;
}
.class-page-navi .summary .port input,
.page-nav .summary .port input {
  height: 100%;
}
.file-picker input[type="file"] {
  display: none;
}
.class-btn-add-files {
  width: 200px;
  height: 40px;
  position: relative;
  overflow: hidden;
  background: #20a7e9;
  color: #fff;
  border-radius: 12px;
  line-height: 40px;
  text-align: center;
}
.class-btn-add-files input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.class-btn-add-files .text {
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.mod-admin-list {
  width: 960px;
  margin: auto;
}
.mod-admin-list .header {
  margin-bottom: 12px;
}
.mod-admin-list .container {
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
}
.mod-admin-list .container .list {
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.mod-admin-list tr {
  position: relative;
}
.mod-admin-list tr.target {
  border: none;
  background: #ff3e3e;
  color: #ff0;
}
.mod-admin-list .roles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  border-radius: 400px;
  width: 400px;
  height: 400px;
  background: #f00;
}
.role-panel,
.roles {
  border-right: 4px solid #32a8a8;
  margin-right: 0;
  position: absolute;
  top: 0;
  background: #e2e2e2;
  width: 100%;
  left: 0;
  height: 100%;
  overflow-y: auto;
  padding: 50px 8px 80px 8px;
}
.role-panel .close,
.roles .close {
  background: #32a8a8;
  position: fixed;
  top: 50%;
  z-index: 99;
  left: 260px;
  margin-left: -2px;
  height: 40px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  width: 40px;
  line-height: 40px;
  border-radius: 2px;
  content: "";
}
.role-panel h2,
.roles h2 {
  font-size: 14px;
  position: relative;
}
.role-panel .item,
.roles .item {
  background: #fff;
  margin-bottom: 12px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0px 10px 1px #999;
  position: relative;
}
.role-panel .item.dragging,
.roles .item.dragging {
  box-shadow: 0 0 4px #f00;
}
.role-panel .item.dragging h2,
.roles .item.dragging h2 {
  color: #ff0;
  background: #f00;
}
.role-panel .item h2,
.roles .item h2 {
  padding: 8px;
  color: #edddbd;
  background: #32a8a8;
}
.role-panel .item h2 p,
.roles .item h2 p {
  font-size: 13px;
}
.role-panel .item ul li,
.roles .item ul li {
  padding: 6px;
  border-top: 1px solid #e8e8e8;
  box-shadow: none;
  border-radius: 0;
}
.role-panel .item ul li.empty,
.roles .item ul li.empty {
  padding: 20px;
  margin: 0;
  border-radius: 3px;
  text-align: center;
  color: #3c3c3e;
  background: #f8fac8;
}
.roles {
  position: relative;
  background: #fff;
  padding: 20px;
  height: 400px;
  width: 100%;
  overflow-y: auto;
  border-right: 0;
}
.roles .item .remove {
  background: #000;
  position: absolute;
  height: 24px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  width: 24px;
  line-height: 24px;
  border-radius: 12px;
  top: 4px;
  right: 4px;
}
.roles .item .remove:hover {
  -webkit-animation: rotate 0.6s ease-in-out;
  -o-animation: rotate 0.6s ease-in-out;
  -moz-animation: rotate 0.6s ease-in-out;
  animation: rotate 0.6s ease-in-out;
}
