@import "../../liblus/_css3";
.mod-test {
	color: white;
}
.sub-a, .sub-b {
	background: red;
	padding: 10px;
	height: 300px;
}
.sub-b {
	background: blue
}
.sub-a-1, .sub-a-2 {
	background: purple;
	height: 80px;
	margin: 20px;
}
.sub-a-2 {
	background: green;
}