.class-page-navi,
.page-nav {
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
  -webkit-box-align: center;
  -o-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: start;
  -o-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  margin: 16px 0;
  height: 32px;
}
.class-page-navi .start,
.page-nav .start,
.class-page-navi .end,
.page-nav .end,
.class-page-navi .prev,
.page-nav .prev,
.class-page-navi .next,
.page-nav .next,
.class-page-navi .bar,
.page-nav .bar {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #3e3e3e;
  text-align: center;
  border: solid 1px #ededed;
  font-weight: 700;
}
.class-page-navi .prev,
.page-nav .prev,
.class-page-navi .bar,
.page-nav .bar {
  border-right: none;
}
.class-page-navi .start,
.page-nav .start,
.class-page-navi .end,
.page-nav .end {
  margin-right: 4px;
  padding: 0 4px;
  width: auto;
}
.class-page-navi .bars,
.page-nav .bars {
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
}
.class-page-navi .pin,
.page-nav .pin {
  background: #ededed;
  color: #999;
}
.class-page-navi .summary,
.page-nav .summary {
  margin-left: 6px;
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
}
.class-page-navi .summary .total,
.page-nav .summary .total {
  margin-right: 2px;
}
.class-page-navi .summary .port input,
.page-nav .summary .port input {
  height: 100%;
}
.file-picker input[type="file"] {
  display: none;
}
.class-btn-add-files {
  width: 200px;
  height: 40px;
  position: relative;
  overflow: hidden;
  background: #20a7e9;
  color: #fff;
  border-radius: 12px;
  line-height: 40px;
  text-align: center;
}
.class-btn-add-files input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.class-btn-add-files .text {
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.mod-atlas-list {
  width: 960px;
  margin: 0 auto;
}
.mod-atlas-list .tab-header {
  margin: 16px 0;
}
.mod-atlas-list ul::after {
  content: "";
  display: block;
  clear: both;
}
.mod-atlas-list ul li {
  margin-bottom: 5px;
  float: left;
  width: 25%;
  height: 240px;
  position: relative;
  overflow: hidden;
}
.mod-atlas-list ul li:hover .text {
  -webkit-transform: translateY(100%) rotate(720deg);
  -o-transform: translateY(100%) rotate(720deg);
  -moz-transform: translateY(100%) rotate(720deg);
  transform: translateY(100%) rotate(720deg);
}
.mod-atlas-list ul li a {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
  -webkit-box-align: center;
  -o-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}
.mod-atlas-list ul li a img {
  width: 100%;
}
.mod-atlas-list ul li .timer-counter {
  height: 30px;
  line-height: 30px;
  position: absolute;
  width: 100%;
  margin-top: -15px;
  text-align: center;
  background: rgba(33,33,33,0.62);
  color: #fff;
  top: 50%;
}
.mod-atlas-list ul li .timer-counter i {
  width: 24px;
  height: 24px;
  margin: 3px 6px;
  float: left;
  background: url("/static/img/icons/clock.png") no-repeat left center;
  background-size: 24px;
}
.mod-atlas-list ul li .text {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  background: rgba(209,72,54,0.82);
  color: #fff;
}
.mod-atlas-list ul li .text .delete {
  width: 32px;
  height: 32px;
  background: #000 url("/static/img/icons/delete.png") no-repeat center center;
  background-size: 12px;
  position: absolute;
  right: 0px;
  top: 0;
  cursor: default;
  border-bottom-left-radius: 16px;
}
.mod-atlas-list ul li .text .text-content {
  margin: 20px;
}
.mod-atlas-list ul li .text .origin {
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  margin: 10px;
  color: #e8e8e8;
}
.mod-atlas-list ul li .text .num {
  color: #e8e8e8;
}
.mod-atlas-list ul li .text .loc {
  height: 24px;
  line-height: 24px;
  background: url("/static/img/icons/16/location.png") no-repeat left center;
  background-size: auto 14px;
  padding-left: 16px;
  text-align: left;
}
.mod-atlas-list ul li .text h2 {
  height: 24px;
  line-height: 24px;
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  font-size: 14px;
}
.mod-atlas-list ul li .text h2 p i {
  width: 24px;
  height: 24px;
  float: left;
  background: url("/static/img/icons/person.png") no-repeat left center;
  background-size: 24px;
}
.mod-atlas-list ul li .text h2 p.time i {
  background-image: url("/static/img/icons/clock.png");
  background-size: 16px;
}
.mod-atlas-list ul li .text .desc {
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
  max-height: 60px;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  line-height: 20px;
}
.mod-atlas-list ul li .text .op {
  display: box;
  display: -webkit-box;
  display: -o-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -o-box-align: center;
  -moz-box-align: center;
  box-align: center;
  height: 22px;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.mod-atlas-list ul li .text .op .fav,
.mod-atlas-list ul li .text .op .speak {
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  text-align: center;
}
.mod-atlas-list ul li .text .op .fav span,
.mod-atlas-list ul li .text .op .speak span {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding-left: 20px;
  background: url("/static/img/icons/16/heart.png") no-repeat left center;
}
.mod-atlas-list ul li .text .op .speak span {
  background: url("/static/img/icons/16/bubble.png") no-repeat left center;
}
#previewAtlas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: #000;
  width: 100%;
  right: 0;
  z-index: 99999;
  overflow: hidden;
}
#previewAtlas iframe {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#previewAtlas .close {
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
