<div class="mod-permission-manage">
	<style>
		#main .content {
			background: #e8e8e8;
		}
		#main .content .center {
			padding: 0;
			margin: 0;
			background: #e8e8e8;
			height: 100%;
		}
	</style>
	<div class="header">
		<div class="menu-role">
			<div class="ui button teal btn-add">
				<i class="cubes icon"></i>
				添加角色
			</div>
			<div class="ui button teal btn-editable">
				<i class="edit icon"></i>
				编辑角色
			</div>
		</div>
		<div class="menu-url">
			<div class="ui button red btn-url-editable">
				<i class="fork icon"></i>
				编辑权限
			</div>
		</div>
	</div>
	<div class="container">
		<div class="sub-mod-role">
			<div class="panel">
				<div class="ui segment" style="height: 100%;">
					<div class="ui active inverted dimmer">
						<div class="ui text loader">Loading</div>
					</div>
					<p></p>
				</div>
			</div>
		</div>
		<div class="sub-mod-url">
			<div class="panel">
				<div class="ui segment" style="height: 100%;">
					<div class="ui active inverted dimmer" >
						<div class="ui text loader">Loading</div>
					</div>
					<p></p>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="ui form ">
		<div class="field">
			<label>角角名</label>
			<input type="text" name="name">
			<i class="home icon"></i>
		</div>
		<div class="field">
			<label>描述</label>
			<input type="text" name="content">
			<i class="text file icon"></i>
		</div>
	</div> -->
</div>
<link rel="stylesheet" href="/static/css/page/permission/index.css">

<script src="/static/js/mod/permission/index.js"></script>