<div class="role-panel">
	<h2 class="close" title="关闭权限栏"> ╳ </h2>
<% for(var i = 0; i < list.length; i++) { %>
<%
	var item = list[i];
	var permissionUrls = item['permissionUrls'];
%>
	<div class="item role animated zoomIn"  data-id="${item.id}">
		<h2>角色名：<span>${item.name}</span>
			<p>${item.content}</p>
		</h2>
		<ul>
			<% if (permissionUrls.length == 0) { %>
				<li class="empty">拖拽权限到这里！</li>
			<% } else { %>
				<% for(var j = 0; j < permissionUrls.length; j ++) { %>
				<%
					var itemUrl = permissionUrls[j];
					var levelName = '仅';
					if (itemUrl.level == 1) {
						levelName = '可读写（添加、修改、删除）';
					}
				%>
				<li class="item url" data-id="${itemUrl.id}">
					<h4><i class="icon fork"></i>${itemUrl.content}</h4>
					<div>
						<div class="level" data-level="${item.level}">属性：${levelName}</div>
						<div class="url">位置：${itemUrl.url}</div>
					</div>
				</li>
				<% } %>
			<% } %>
		</ul>
	</div>
<% } %>
</div>

<link rel="stylesheet" href="/static/css/lib/animate.css">
<script src="/static/js/base/zepto-dnd.js"></script>
