<link rel="stylesheet" href="/static/css/page/user/atlas-list.css">
<style>
	.center {
		padding: 0;
	}
	.mod-user-atlas-list .title {
		padding: 12px 0;
	}
	.mod-user-atlas-list .title span {
		color: green;
	}
	.mod-user-atlas-list .title img {
		width: 48px;
		height: auto;
		display: inline-block;
	}
	.go-back {
		float: right;
		background: #d14836;
		padding: 4px;
		font-size: 14px;
		color: #fff;
	}
</style>
<div class="mod-user-atlas-list" >
	<% if (list.length == 0) { %>
	<div>暂无图集啊
		<%
		if(path) {
		%>
		<a href="${path}" class="action-paresh">
			<div class="ui basic button" style="float: right;">
				<i class="icon angle ddouble left"></i>
				返回
			</div>
		</a>
		<% } %>
	</div>
	
	<% } else { %>
	<%
	var headItem = list[0];
	var user = headItem['user'];
	var headUrl = user.headUrl;
	%>
	<!-- <a class="action-paresh go-back" href="${refPath}">＜用户列表</a> -->
	<h2 class="title"><img src="${user.headUrl}" alt="">
	<%
	if(path) {
	%>
	<a href="${path}" class="action-paresh">
		<div class="ui basic button" style="float: right;">
			<i class="icon angle double left"></i>
			返回
		</div>
	</a>
	<% } %>
	<span>${user['nickname']}</span><br>Ta的最新${list.length}个图集</h2>
	
	<ul  >
		<% for(var i = 0; i < list.length; i ++) { %>
		<%
		var item = list[i];
		var cover = item['coverKey'][0];
		var atlas = item['atlas'];
		var index = i+1;
		var recordStatus = 'ok';
		var size = cover['size'].split('*');
		var width = size[0], height = size[1] || 100;
		var ratio = width / height;
		var imgStyle = ";width: 100%; height: auto;"
		var isRecmd = '';
		if(ratio <= 1) {
			imgStyle = ";width: auto; height: 100%;"
		}
		%>
		<li class="item" data-aid="${atlas['id']}" data-uid="${user.id}" data-url="${headUrl}">
			<a class="preview" title="查看图集" >
				<!-- <a href="/atlas/${atlas['id']}/detail?uid=${user.id}&headUrl=${headUrl}" target="_blank" title="查看图集" > -->
				<img class="lazy-load" style="${imgStyle}" data-ratio="${ratio}"   data-original="${cover.thumb['url']}"  alt="">
				<div class="timer-counter">
					<i></i><span>${cover.createDate|timeFormat}</span>
				</div>
				<div class="text">
					<p class="delete  btn-del" title="删除" data-id="${atlas.id}"></p>
					<% 
						if(atlas.recommend) {  
							isRecmd = 'done';
						} 
					%>
					<p class="recommend  btn-recmd ${isRecmd}" title="点击设置为推荐" data-id="${atlas.id}"></p>
					<div class="text-content">
						<div class="origin">
							<p class="num"> 共${atlas['imageNum']}张 </p>
							<p class="loc"> ${atlas['location']} </p>
						</div>
						<h2>
						<p class="name"><i></i>${item.user.nickname|trim}</p>
						</h2>
						<p class="desc">${atlas['content']|stripHTML}</p>
						<div class="op">
							<div class="fav"><span>${atlas['praiseNum']}</span></div>
							<div class="speak">
								<span>${atlas['commentNum']}</span>
							</div>
							
						</div>
					</div>
				</div>
			</a>
		</li>
		<% } %>
	</ul>
	<% } %>
</div>
<script src="/static/js/mod/common/lazy.js"></script>
<script src="/static/js/mod/atlas/list.js"></script>
<script src="/static/js/mod/user/user-atlas.js"></script>