<link rel="stylesheet" href="/static/css/page/welcome/index.css">

<div class="mod-welcome" >
	<h2 class="title" >欢迎使用诺亚系统</h2>
	<div class="row">
		<h2>特性</h2>
		<div class="feature pn">
			<div class="f-item">
				<p>文件拖放</p>
				<img src="/static/img/welcome/drag.png" alt="">
			</div>
			<div class="f-item">
				<p>智能搜索</p>
				<img src="/static/img/welcome/reachable.png" alt="">
			</div>
				<div class="f-item">
				<p>极速模式</p>
				<img src="/static/img/welcome/speed.png" alt="">
			</div>
		</div>
	</div>
	<div class="row">
		<h2>平台支持</h2>
		<div class="browser pn">
			<a href="http://www.google.cn/intl/zh-CN/chrome/browser/?installdataindex=chinabookmarkcontrol&brand=CHUN&gclid=CLqNjuuTycACFdclvQodq30AWQ" title="下载浏览器"><img src="/static/img/icons/chrome.png" width alt=""></a>
			<a href="https://www.apple.com/cn/safari/" title="下载浏览器"> <img src="/static/img/icons/safari.png" alt=""> </a>
		</div>
	</div>
	<div class="row">
		<h2>使用建议</h2>
		<div class="advice">
			<table class="ui table   segment">
				<thead>
					<tr>
						<th>问题</th>
						<th>负责人</th>
						<th>联系方式</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>数据展失败</td>
						<td>龚正</td>
						<td>18642654834</td>
					</tr>
					<tr>
						<td>网页打不开</td>
						<td>车顺</td>
						<td>18842655710</td>
					</tr>
					<tr>
						<td>图片上传失败</td>
						<td>公维新</td>
						<td>13811073204</td>
					</tr>
					<tr>
						<td>其它</td>
						<td>饶伟</td>
						<td>13240948901</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<h2>诺亚资源</h2>
		<div class="show pn">
			<img src="/static/img/theme/1.jpg" alt="">
			<img src="/static/img/theme/2.jpg" alt="">
			<img src="/static/img/theme/3.jpg" alt="">
			<img src="/static/img/theme/4.jpg" alt="">
		</div>
	</div>
	<div class="row">
		<h2>产品ID</h2>
		<div class="products pn">
			<table class="ui table   segment">
				<thead>
					<tr>
						<th>产品线</th>
						<th>ID</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>T语言</td>
						<td>100100</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

